body{background-color:powderblue;color: black;font-weight: bold;}
h2{color: tomato;text-align: center;font-family: "verdana"}
table{color: red;background-color: white;padding: 50px;}
span{color: gray;}