<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>OBJECT DETECTION</h1>
    <div>
        <p>This web page allows users to upload an image and perform <br> detection on it using the YOLO (You Only Look Once) algorithm. <br>
            The detected objects are highlighted in the image and displayed back to the user.<br>
        <strong>Steps</strong><br>
    <strong>Step1:</strong>Click on Upload Image Button<br><strong>Step2:</strong>Select the image in which you want to detcet objects<br>
    <strong>Step3:</strong>Click on the Detect Object Button</p>
    
    </div>
    <label for="imageInput">Upload Image</label>
    <input type="file" id="imageInput" accept="image/*">
    <p id="selectedFileDisplay"></p>
    <button onclick="uploadImage()">Detect Objects</button>
    <div id="output"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
